{% extends 'base.html' %}

{% block header %}
<h1><a href="{{url_for('playl.index')}}">{% block title %} Playlist {% endblock %}</a></h1>
	{% if g.user %}
	<div class="links-songs">	
		<a class="action" href="{{url_for('playit.createItems')}}">Añadir Canción</a>
		<a class="action" href="{{url_for('playl.index')}}">Mis playlist</a>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
<ul class="container-playlist">
{% for playlistcontent in playlistits %}
	<li class="play-items">
		<div class="container-songs">
			<h4 class="items-songs">
				<label>Título </label>{{playlistcontent['title']}}
			</h4>
			<div class="items-songs artist"><label> Artista </label> {{playlistcontent['artist']}}</div>
			<div class="items-songs year"><label> Año </label> {{playlistcontent['year']}}</div>
			<div class="items-songs genre"><label> Genero </label> {{playlistcontent['genre']}}</div>
			<a class="items-songs action" href="{{url_for('playit.updateItems', id = playlistcontent['id'])}}">Editar
			</a>
		</div>
	</li>
	{% if not loop.last %}
	
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}

